@namespace tan "tag:textalign.net,2015:ns";
@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xml "http://www.w3.org/XML/1998/namespace";
/* CSS file intended to be used to configure how Wright catalog manuscripts are rendered by oXygen Author */

/* DISPLAY */

* {
display: block;
}
 fileDesc > *,
 encodingDesc,
 profileDesc > abstract
 {
display: none;
}
oxy|processing-instruction {
display: none !important
}
