@namespace tan "tag:textalign.net,2015:ns";
@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xml "http://www.w3.org/XML/1998/namespace";
/* CSS file for oXygen Author Mode form for inputing metadata into TEI XML records of Testimonia for Caesaria-Maritima.org
 * author: William L. Potter
 * version: 0.1
 * 
 * This CSS file is for the second stage of data entry once the "testimonia-entry.css" form has been completed. Here researchers can enter the testimonium ID and other key metadata not included in the initial data gathering stage
 *  */

/* GENERAL DISPLAY */

* {
display: block;
}
placeName {
    display: inline;
    text-decoration: underline;
}
 fileDesc > titleStmt,
 fileDesc > editionStmt,
 fileDesc > seriesStmt,
 fileDesc > sourceDesc,
 encodingDesc,
 profileDesc > abstract,
 desc[type="abstract"],
 ab[type="identifier"]
 {
display: none;
}
oxy|processing-instruction, oxy|comment {
display: none !important
}

title,
creation > ref,
persName,
origDate,
origPlace,
desc[type="context"],
ab
{
  border: 1px green solid;
  background-color: lightyellow;
  content: '\A' oxy_textfield(
    edit, "#text", columns, 50
    ) '\A';
}
bibl {
  border: 1px green solid;
  background-color: lightyellow;
}
bibl:after(9){
  content: "\A";
  font-size: 10px;
}
/* EXCEPTIONS TO THE ABOVE */

publicationStmt > * {
    display: none;
}

publicationStmt > idno:before(9){
    content: "Testimonium ID:";
    font-size: 18px;
    font-weight: bold;
}
publicationStmt > idno {
    border: 1px green solid;
    background-color: lightyellow;
    display: block;
    content: oxy_textfield(edit, "#text", columns, 30);
}

creation > title:before(9)
{
  content: "Standardized English Title: ";
  color: black;
  font-size: 18px;
font-weight: bold;
}
title:after(1)
{
  content: '\A Work URN: ' oxy_textfield(edit, "@ref",  columns, 30);
  font-size: 18px;
  font-weight: bold;
}
title:after(2) {
    content: "\A Work-level URNs should be of the form, 'urn:cts:greekLit:tlg0526.tlg001'";
    font-size:14px;
}

creation > ref:before(9)
{
  content: "Cited Range of Testimonium";
  color: black;
  font-size: 18px;
font-weight: bold;
}

persName:before(9) {
  content: "Standardized Author Name";
  color: black;
  font-size: 18px;
font-weight: bold;
}
persName:after(1) {
  content: "\A VIAF URI: " oxy_textfield(edit, "@ref",  columns, 30)
}

origDate:before(9)
{
  content: "Date of Testimonium's Composition";
  color: black;
  font-size: 18px;
font-weight: bold;
}
origDate:before(8)
{
  content: "\A Format dates as follows, using a negative for BCE: YYYY-MM-DD. Month and Day may be omitted if unknown. If specifying a range of dates, separate the lower bound from the upper bound by a single space, e.g. 0200 0455 represents 200-455 CE.";
  color: black;
  font-size: 14px;
}

origPlace:before(9)
{
  content: "Standardized Place Name of Testimonium's Composition";
  color: black;
  font-size: 18px;
font-weight: bold;
}
origPlace:after(1)
{
  content: "\A Pleiades URI: " oxy_textfield(edit, "@ref", columns, 30)
}

langUsage > language
{
  content: "Original Language of Testimonium: " oxy_combobox(
edit, '@ident',
editable, false,
values, 'grc, la, ar, he, syr, jpa, tmr, fro, hy',
labels, 'Ancient Greek, Latin, Arabic, Hebrew, Syriac, Jewish Palestinian Aramaic, Jewish Babylonian Aramaic, Old French, Armenian'
);
  color: black;
  font-size: 18px;
font-weight: bold;
  background-color: lightyellow;
}
langUsage{
  background-color: lightyellow;
}

catRef[scheme="testimonia-type"]{
  border: 1px green solid;
  background-color: lightyellow;
  color: black;
  content: 'Testimonium Type: ' oxy_checkbox(
edit, '@target',
values, '#direct, #indirect, #toponymic-epithet',
labels, 'Direct Reference to Caesarea, Indirect Reference to Caesarea, Toponymic Epithet which Includes Caesarea'
)
}

catRef[scheme="#CM-NEAEH"]:before(9){
  content: 'Historical Period Discussed by Testimonium:';
  color: black;
  font-size: 18px;
font-weight: bold;
  background-color: lightyellow;
}
catRef[scheme="#CM-NEAEH"]:before(8){
  content: '\ANote: This field captures the historical periods **about** which the testimonium relates information, **not** the historical period in which the testimonium was composed (the latter information is generated automatically based on the \"Date of Testimonium\'s Composition\" field above)';
  color: black;
  font-size: 13px;
  background-color: lightyellow;
}
catRef[scheme="#CM-NEAEH"]{
  border: 1px green solid;
  background-color: lightyellow;
  color: black;
  content: oxy_checkbox(
edit, '@target',
values, '#lowerPaleolithic, #upperAcheulean, #acheulean, #mousterian, #middlePaleolithic, #upperPaleolithic, #kebaran, #epipaleolithic, #geometricKebaran, #natufianCulture, #pre-potteryNeolithic, #potteryNeolithic, #chalcolithic, #earlyBronzeAge, #bronzeAge, #earlyBronzeAgeIa-b, #earlyBronzeAgeIi, #earlyBronzeAgeIii, #middleBronzeAge, #middleBronzeAgeI, #middleBronzeAgeIia, #middleBronzeAgeIib, #lateBronzeAge, #lateBronzeAgeI, #lateBronzeAgeIia, #lateBronzeAgeIib, #ironAge, #ironAgeIa, #ironAgeIb, #ironAgeIia, #ironAgeIib, #ironIic, #ironAgeIic, #babylonianAndPersian, #earlyHellenistic, #hellenistic, #earlyNabatean, #nabateanKingdom, #lateHellenistic, #earlyRoman, #herodian, #middleNabatean, #lateRoman, #byzantine, #earlyIslamic, #crusader, #lateIslamic, #ottoman, #britishTerritorialAdministration, #britishMandate, #modernState',
labels, "Lower Paleolithic: 999999-119999 BCE, Upper Acheulean: 498050-148050 BP, Acheulean: 298050-148050 BP, Mousterian: 138050-38050 BP, Middle Paleolithic: 119999-44999 BCE, Upper Paleolithic: 44999-17999 BCE, Kebaran : 18050-13050 BP, Epipaleolithic: 17999-8299 BCE, Geometric Kebaran: 12499-10899 BCE, Natufian Culture: 10799-8499 BCE, Pre-Pottery Neolithic: 8299-5499 BCE, Pottery Neolithic: 5499-4499 BCE, Chalcolithic: 4499-3299 BCE, Early Bronze Age: 3299-2199 BCE, Bronze Age: 3299-1199 BCE, Early Bronze Age IA-B: 3299-2999 BCE, Early Bronze Age II: 2999-2699 BCE, Early Bronze Age III: 2699-2199 BCE, Middle Bronze Age: 2199-1549 BCE, Middle Bronze Age I: 2199-1999 BCE, Middle Bronze Age IIA: 1999-1749 BCE, Middle Bronze Age IIB: 1749-1549 BCE, Late Bronze Age: 1599-1200 BCE, Late Bronze Age I: 1549-1399 BCE, Late Bronze Age IIA: 1399-1299 BCE, Late Bronze Age IIB: 1299-1199 BCE, Iron Age: 1199-585 BCE, Iron Age IA: 1199-1149 BCE, Iron Age IB: 1149-999 BCE, Iron Age IIA: 999-899 BCE, Iron Age IIB: 899-699 BCE, Iron IIC: 799-731 BCE, Iron Age IIC: 699-585 BCE, Babylonian and Persian Periods:  585-331 BCE, Early Hellenistic Period:  331-166 BCE, Hellenistic Period:  331-36 BCE, Early Nabatean Period:  331-36 BCE, Nabatean Kingdom:  167 BCE-106 CE, Late Hellenistic Period:  166-36 BCE, Early Roman Period:  36 BCE-132 CE, Herodian Period:  36 BCE-70 CE, Middle Nabatean Period:  24 BCE-50 CE, Late Roman Period:  132-324 CE, Byzantine Period:  324-638 CE, Early Islamic Period:  638-1099 CE, Crusader Period:  1099-1291 CE, Late Islamic Period:  1291-1516 CE, Ottoman Period:  1516-1917 CE, British Territorial Administration Period:  1970-1920 CE, British Mandate Period:  1920-1948 CE, Modern State:  1948- CE",
columns, 5
)
}

classCode {
    border: 1px green solid;
    background-color: lightyellow;
}
textClass > classCode > idno[type="CTS-URN"]{
    background-color: lightyellow;
    color: black;
}

revisionDesc {
  border: 1px green solid;
  background-color: lightyellow;
}

change[when]:first-of-type:before(7) {
    content: "Testimonium metadata entered by: " oxy_combobox(
edit, '@who',
editable, true,
values, 'dmichelson, jrife, plieberman, wpotter',
labels, 'David A. Michelson, Joseph L. Rife, Phillip I. Lieberman, William L. Potter'
) "\A";
}
change[when]:last-of-type:before(7) {
  content: "Testimonium entered by: " oxy_combobox(
edit, '@who',
editable, true,
values, 'dmichelson, jrife, plieberman, wpotter',
labels, 'David A. Michelson, Joseph L. Rife, Phillip I. Lieberman, William L. Potter'
) "\A"
}

change[when]:before(6) {
  content: "Enter your first initial followed by your last name, e.g. 'dmichelson', or select from the drop-down menu above\A";
  color: black;
  font-size: 14px;
}
change{
  visibility: -oxy-collapse-text
}

desc[type="context"]:before(9){
  content: "Context of Testimonium";
  color: black;
  font-size: 18px;
font-weight: bold;
}

ab[type="edition"]:before(9){
  content: "1. Excerpt from Edition";
  color: black;
  font-size: 18px;
font-weight: bold;
}

ab[type="translation"]:before(9){
  content: "2. Excerpt from Translation";
  color: black;
  font-size: 18px;
font-weight: bold;
}


ab > note {
  border: 1px green solid;
  margin-left: 10px;
  background-color: lightyellow;
  content: attr(type) " note " oxy_textfield(
    edit, "#text", columns, 50
    ) '\A';
}

ab:not([type="identifier"]) > idno{
  content: "URN of Excerpt: " oxy_textfield(edit, "#text", columns, 30) " (of the form, 'urn:cts:greekLit:tlg0031.tlg005.perseus-grc2:11.1-11.18')";
  font-size: 14px;
}

ab > ref{
  content: "Link to Excerpt: " oxy_textfield(edit, "@target", columns, 30);
  font-size: 14px;
}
listBibl:first-of-type > head:after(1) {
    content: "\A Add in this section the bibliographic data for the sources of the testimonium excerpts, starting with the edition followed by the translation.";
  color: black;
  font-size: 14px;
}

listBibl:first-of-type > bibl:nth-child(2):before(9) {
  content: "Source for:\A    1. Excerpt from Edition";
  color: black;
  font-size: 18px;
font-weight: bold;
}

listBibl:first-of-type > bibl:nth-child(3):before(9) {
  content: "Source for:\A    2. Excerpt from Translation";
  color: black;
  font-size: 18px;
font-weight: bold;
}

listBibl:last-of-type > bibl:nth-child(2):before(9) {
  content: "Additional Bibl 1";
  color: black;
  font-size: 18px;
font-weight: bold;
}

listBibl:last-of-type > bibl:nth-child(3):before(9) {
  content: "Additional Bibl 2";
  color: black;
  font-size: 18px;
font-weight: bold;
}

listBibl:last-of-type > bibl:nth-child(4):before(9) {
  content: "Additional Bibl 3";
  color: black;
  font-size: 18px;
font-weight: bold;
}

listBibl:last-of-type > bibl:nth-child(5):before(9) {
  content: "Additional Bibl 4";
  color: black;
  font-size: 18px;
font-weight: bold;
}

ptr{
  content: "Zotero URI: " oxy_textfield(edit, "@target", columns, 30);
  color: black;
  font-size: 14px;
  background-color: lightyellow;
}

citedRange:before(9){
  content: "Source Cited Range: " oxy_textfield(edit, "#text", columns, 30) " " 
  oxy_combobox(
  edit, "@unit",
  editable, "false",
  values, "section, p, col, fol, line, entry, vol, map",
  labels, "section, page, column, folio, line, entry, volume, map"
  );
  color: black;
  font-size: 14px;
  background-color: lightyellow;
}
bibl:after(1) {
    content: "Full-text Citation: " oxy_textfield(edit, "#text", columns, 30);
}
body > note {
  border: 1px green solid;
  background-color: lightyellow;
  content: attr(type) ": \A"
}
